<!--BOOKING ONLY FOR ADMIN DASHBOARD-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin Panel</title>
  <link rel="icon" href="{% static 'images/admin.png' %}" type="image/icon type">
  <link rel="stylesheet" href="{% static 'css/adminpanel2.css' %}">
</head>
<body>
  <div class="main">
		<div class="menu">
			<h2 id="logo"><img src="/static/images/loginmg.png" alt=""></h2>
			<a href="{% url 'service:products' %}">Dashboard</a>
			<a class="active" href="{% url 'booking:bookdetails' %}">Booking</a>
			{% if user.is_authenticated %}
			  <a class="logout" href="{% url 'users:logout'%}">Logout</a>
      {% endif %}
		</div>
		<div class="body">
			<table class="table">
        <thead class="thead-dark">
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Service</th>

            <th scope="col">Time</th>
            <th scope="col">Day</th>
        </thead>
				{% for book in bookdetails %}
          
          <tr scope="row">
            <td>{{book.Name}}</td>
            <td>{{book.Email}}</td>
            <td>{{book.Service}}</td>
            <td>{{book.Time}}</td>
            <td>{{book.Day}}</td>
            <td><a href="{% url 'booking:delete' book.id %}">Paid</a></td>
          </tr>

        {% endfor %}
      </table>
		</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>
</html>